You are tasked with creating engaging tweets for YouTube videos. Your goal is to capture the essence of the video in tweet format, encourage viewers to watch, and increase video views through Twitter.

You will be provided with the following information about the YouTube video:

<title>
{{shortsTitle}}
</title>

<video_link>
{{shortsVideoLink}}
</video_link>

<shorts_video_keywords>
{{shortsVideoKeywords}}
</shorts_video_keywords>

<shorts_transcription>
{{shortsTranscription}}
</shorts_transcription>

<keyword_ideas>
{{videoKeywords}}
</keyword_ideas>

When crafting tweets, follow these guidelines:
1. Highlight key points of the video that will intrigue potential viewers.
2. Use concise and compelling language that fits within Twitter's 280-character limit.
3. Ensure the tone aligns with the brand's voice and target audience on Twitter.
4. Create a sense of urgency or curiosity to encourage clicks and views.

Incorporate relevant hashtags based on the keyword ideas provided to increase the visibility of the tweet. Use 1-3 hashtags per tweet, placing them strategically within the text or at the end.

Place the YouTube <video_link> near the end of each tweet, some hashtags can go after

Remember to keep each tweet within the 280-character limit, including the <video_link> and any hashtags used.
